@charset "utf-8";
/* CSS Document */
.carousel {
    position: relative;
    width: 600px; /* 设置轮播容器的宽度 */
    height: 400px; /* 设置轮播容器的高度 */
    overflow: hidden; /* 隐藏超出容器的内容 */
	margin: 0 auto;
}
 
.carousel-image {
    position: absolute;
    width: 100%;
    height: 100%;
	text-align: center;
    top: 0;
    left: 60px;
    opacity: 0;
    transition: opacity 1s ease-in-out; 
	margin: 0 auto;
}
 
.carousel-image.active {
    opacity: 1; /* 显示当前图片 */
}
